<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="token"/>
		<add key="ReadFilePath" value="C:\Users\user446\Desktop\att\Attendance.csv"/>
		<add key="ReadFileID" value="C:\Users\user446\Desktop\att\CheckID_DD.txt"/>
		<add key="Logfile" value="C:\Users\user446\Desktop\att\LogError.txt"/>
	</appSettings>
</configuration>
